const config = {
    // Bot Admins, level 9 by default. Array of user ID strings.
    "admins": [],

    // Bot Support, level 8 by default. Array of user ID strings
    "support": [],

    "token": "mfa.VkO_2G4Qv3T--NO--lWetW_tjND--TOKEN--QFTm6YGtzq9PH--4U--tG0",

    "botSettings": {
        "prefix": "~",
        "clientId": "",
        "defaultGuildId": "",
        "systemNotice": "true",
        "welcomeEnabled": "false",
        "welcomeChannel": "welcome",
        "welcomeMessage": "Say hello to {{user}}, everyone!",
        "updateGlobalSlashes": "true",
        "disableSlashes": "false",
        "saveLogs": "true"
    },

    // PERMISSION LEVEL DEFINITIONS.

    permLevels: [
        {
            level: 0,
            name: "User",
            check: () => true
        },
        {
            level: 4,
            name: "Server Owner",
            check: (message) => message.channel.type === "GUILD_TEXT" ? (message.guild.owner.user.id === message.member.id ? true : false) : false
        },
        {
            level: 8,
            name: "Bot Support",
            check: (message) => config.support.includes(message.author?.id) || config.support.includes(message.member.id)
        },

        {
            level: 9,
            name: "Bot Admin",
            check: (message) => config.admins.includes(message.author?.id) || config.support.includes(message.member.id)
        },

        {
            level: 10,
            name: "Bot Owner",
            check: (message) => message.client.application.owner.id === message.author?.id || message.client.application.owner.id === message.member.id
        }
    ]
};

module.exports = config;
